<p id="notice"><%= notice %></p>

<%= form_tag entries_path, method: :get do %>  
        <div >
            <%= label_tag "Desde:" %>
            <%= select_date(Date.current, prefix: 'desde', order: [:day, :month,:year],use_two_digit_numbers: true, start_year:2010,end_year: Date.today.year) %>
       
        	<%= label_tag "Hasta:" %>
            <%= select_date(Date.current, prefix: 'hasta', order: [:day, :month,:year],use_two_digit_numbers: true, start_year:2010,end_year:Date.today.year) %>
        </div>

        <div >
            <%= submit_tag "Generar Reporte", name: nil, class: "button" %><br><br /><br><br />
        </div>
<% end %>  

<% unless @entries.nil? %>
<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.description %></td>
        <td><%= entry.amount %></td>
        <td><%= entry.date %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>El total de Ingresos es : <%=@total%> </h4>
<% end %>

<br>

<%= link_to 'New Entry', new_entry_path %>
