<%= form_for(outflow) do |f| %>
  <% if outflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outflow.errors.count, "error") %> prohibited this outflow from being saved:</h2>

      <ul>
      <% outflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  	<%= f.text_field :type_service %>
    <%= f.select :type_service, [['Servicio de Agua','agua'],['Servicio de luz','luz'],['Servicio de internet','internet'],['Servicio de gas','gas'],['Otros','otros']] %> 	
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :amoun %>
    <%= f.number_field :amoun %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
