<%= form_for(bill) do |f| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :issueDate %>
    <%= f.date_select :issueDate %>
  </div>

  <div class="field">
    <%= f.label :payDate %>
    <%= f.date_select :payDate %>
  </div>

  <div class="field">
    <%= f.label :establishment_id %>
    <%= f.text_field :establishment_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
