<body class="view_principal">
<div class="container">
    <header>
        <h1>SUGI-ERP</h1>
    </header>
    <section>       
        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                        <h1>Log in</h1> 
                        <p>
                            <label for="username" class="uname" > Your email </label>
                            <%= f.email_field :email, autofocus: true, placeholder: "My Email" %>
                        </p>
                        <p> 
                            <label for="password" class="youpasswd"> Your password </label>
                            <%= f.password_field :password, autocomplete: "off", placeholder: "My Password" %> 
                        </p>
                        <p class="login button"> 
                            <%= f.submit "Login" %>
                        </p>
                        <% if devise_mapping.rememberable? -%>
                                <%= f.check_box :remember_me %>
                                <%= f.label :remember_me %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>  
    </section>
</div>
</body>

 

