<%= form_for(contrac_establishment) do |f| %>
  <% if contrac_establishment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contrac_establishment.errors.count, "error") %> prohibited this contrac_establishment from being saved:</h2>

      <ul>
      <% contrac_establishment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :wayToPay %>
    <%= f.text_field :wayToPay %>
  </div>

  <div class="field">
    <%= f.label :porpuse %>
    <%= f.text_area :porpuse %>
  </div>

  <div class="field">
    <%= f.label :file_name %>
    <%= f.text_field :file_name %>

  </div>

  <div class="field">
    <%= f.label :startDate %>
    <%= f.date_select :startDate %>
  </div>

  <div class="field">
    <%= f.label :endDate %>
    <%= f.date_select :endDate %>
  </div>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :establishment_id %>
    <%= f.text_field :establishment_id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
