<!DOCTYPE html>
<html>
  <head>
    <title>SugiErp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pos-f-t">
      <nav class="navbar navbar-light" style="background-color: #e73c3c;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>Sugi-ERP
        </button>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-inverse p-4">
          
        </div>
      </div>
    </div>
    <br/>
    <%= render 'layouts/cards' %>
    <%= yield %>
  </body>
</html>
